body {
    background-color: #A5AA79;
    text-align: center;
}

/* . means class, # means tag */
.nav_link { 
    padding: 15px;
    color: #FBF7F0;
    background-color: #353B34;
    font-size: 1.3em;
    text-decoration-line: none;
}

img {
    width: 300px;
}

#main_title {
    font-size: 4em;
    color: #253C4C;
}

.menu_expand {
    display: none;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 768px){
    .menu_expand {
        display: block;
    }
    .menu {
        display: none;
    }
}

/* Style the button that is used to open and close the collapsible content */
.menu_expand {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .menu_expand:hover {
    background-color: #353B34;
    color: #FBF7F0;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
