/* 
Color Scheme:
floral white    #FBF7F0
charcoal        #253C4C
Dark Moss Green #656641
Platinum        #E7E2DE
Black Olive     #2A2F2A
*/

/*========== This affects everything ==============*/

body {
    background-color: #A5AA79;
    text-align: center;
    margin: 0 auto;
}

#content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #E7E2DE;
    padding: 0%;
}

/*========= Beginning of Header ==========*/
header {
    padding: 20px;
    margin: 0 auto;
    background-color: #353B34;
    justify-content: center;
    display: block;
    position: fixed;
    width: 100%;
}

.nav_link { 
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #FBF7F0;
    background-color: #353B34;
    font-size: 1em;
    text-decoration: none;
    justify-content: center;
}

/* Style the button that is used to open and close the collapsible content */
  /* This adds a background color to the button if it is clicked on 
  (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .menu_button:hover {
    background-color: #656641;
    color: #FBF7F0;
  }

.menu_button { /*These are the defaults. 
    In order to change how it looks when 
    it is displayed go to media only screen below*/
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 15px;
    color: #FBF7F0;
    background-color: #353B34;
    font-size: 1em;
    text-decoration: none;
  }

.content_expand {
    padding: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
  }

@media only screen and (min-width: 700px){
    .menu_button {
      display: none;
    }
    .nav_link {
      flex-direction: row;
    }
    .content_expand {
      max-height: fit-content;
    }
}
/* Style the collapsible content. Note: hidden by default */

/*================== End of Header =====================*/

/*============ Beginning of Main Content =============*/
main {
  padding: 10px;
  padding-top: 60px;
  box-shadow: 5px 5px 5px gray;
}

#main_title {
    font-size: 4em;
    color: #253C4C;
}

main p {
  padding: 10px 200px;
  justify-content: left; /*not working???*/
}

h2 {
    text-decoration: underline;
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;
}


#img_me {
  width: 300px;
  margin: 0 auto;
  display: block;
  grid-column: 1/2;
  grid-row: 2/5;
  box-shadow: 15px 15px 20px gray;
  transition: transform .5s;
}

#img_me:hover {
  opacity: 6;
  transform: scals(1.1);
}
/*============= End of Main Content ================*/

/*=============== Beginning of Footer ===============*/
  footer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 50px;
    margin: 0 auto;
    padding: 20px;
    color: #FBF7F0;
    background-color: #353B34;
  }

  footer a {
    color: #FBF7F0;
  }

  /* footer p {
  } */
